<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listings</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Available Listings</h1>
    <ul>
      <% listings.forEach(function(listing) { %>
        <li>
          <h2><%= listing.title %></h2>
          <p><%= listing.description %></p>
          <p>Price: $<%= listing.price %> per night</p>
          <form action="/listings/<%= listing._id %>" method="get">
            <button>View Details</button>
            </form>
        </li>
      <% }); %>
    </ul>
  </body>