<% layout('layouts/boilerplate.ejs') %>
<body>

    <form action="/listings" method="POST" enctype="multipart/form-data">
    <div class="container mt-4 col-md-6">
        <h1 class="new-listing-title text-center mb-4">Create New Listing</h1>
        <div class="mb-3">
        <label class="form-label">Title:</label>
        <input type="text" name="title" class="form-control" required ><br>
        </div>

        <div class="mb-3">
        <label class="form-label">Description:</label>
        <textarea name="description" class="form-control" required></textarea><br>
        </div>

        <div class="mb-3">
        <label class="form-label">Price per night (₹):</label>
        <input type="number" name="price" class="form-control" required><br>
        </div>

        <div class="mb-3">
        <label class="form-label">Location:</label>
        <input type="text" name="location" class="form-control" required><br>
        </div>

        <div class="mb-3">
        <label class="form-label">Country:</label>
        <input type="text" name="country" class="form-control" required><br>
         </div>

        <div class="mb-3">
        <label class="form-label">Image:</label>
        <input type="file" name="image" class="form-control" accept="image/*"><br><br>
        </div>
        <button type="submit" class="Create"><b>Create Listing</b></button>
    </div>
    </form>
</body>

